# Better file list visuatlization
# Always use color output for `ls`
alias ls="ls -AFG"

# Folder management
alias md="mkdir -p"
alias rd="rm -rf"
alias cp="cp -v"
alias mv="mv -v"
alias rm="rm -i -v"

# `cat` with beautiful colors. Requires Pygments installed.
# [sudo] pip install Pygments
alias c='pygmentize -O style=monokai -f console256 -g'

# Update all package managers and clean their caches.
alias update='softwareupdate -ia --verbose && brew update -v && brew upgrade -v && brew cleanup -s --prune=1 && brew doctor | nvm cache clear && npm cache clean --force'

# Alias to always used Homebrewed Grep and always enable colored output
alias grep="ggrep --color=always -n"
