# Set ENV variables
export PATH=$HOME/bin:$HOME/.composer/vendor/bin:/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/local/sbin:$PATH

# Default username
export DEFAULT_USER=juan

#export ANDROID_HOME=/usr/local/opt/android-sdk

#export JAVA_HOME=`/usr/libexec/java_home`

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

export HISTCONTROL=ignoredups:erasedups # no duplicate entries
export HISTSIZE=100000 # big big history (default is 500)
export HISTFILESIZE=$HISTSIZE # big big history
export HISTTIMEFORMAT="%F %T " # Display timestamp along with the command

# Ignore specific commands from the history
export HISTIGNORE="pwd:ls:ls *:exit:date:man *:history"

# Make Vim the default editor
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Exports for PHP
# Xdebug
export XDEBUG_CONFIG="idekey=PHPSTORM"

# Composer
export COMPOSER_MEMORY_LIMIT=-1
export COMPOSER_ALLOW_XDEBUG=1
export COMPOSER_DISABLE_XDEBUG_WARN=1

# To link Rubies to Homebrew's OpenSSL 1.1
export RUBY_CONFIGURE_OPTS="--with-openssl-dir=$(brew --prefix openssl@1.1)"
