# Set ENV variables
export PATH=$HOME/bin:/usr/local/bin:$PATH

#export ANDROID_HOME=/usr/local/opt/android-sdk

export NVM_DIR=$HOME/Dev/code/oh-my-zsh

export JAVA_HOME=`/usr/libexec/java_home`

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE

# Display timestamp along with the command
export HISTTIMEFORMAT="%F %T "

# Ignore specific commands from the history
export HISTIGNORE="pwd:ls:ls *:exit:date:man *:history"

# Make Vim the default editor
export EDITOR="vim"

# Use Vim as MANPAGER.  Credits: http://zameermanji.com/blog/2012/12/30/using-vim-as-manpager/
export MANPAGER="/bin/sh -c \"col -b | vim -c 'set ft=man ts=8 nomod nolist nonu noma' -\""

# grep: Always enable colored output, show line number
export GREP_OPTIONS="--color=always"
