[user]
  name = Juan Obando
[alias]
  ci = commit
  di = diff
  st = status -s
  up = pull
  l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
  # global gitignore file
  excludesfile = ~/.gitignore
[color]
  ui = always
[merge]
  log = true
[push]
  # push/pull changes to the current branch
  default = simple
